<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Northern Nevada Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Explore the Sierra — Get out and about!</strong>
    <p>Local events gathered from around the web.</p>
  </div>
  <div id="events">
    <ion-card *ngFor="let event of events">
      <ion-card-header>
        <ion-card-title>{{event.pageTitle}}</ion-card-title>
        <ion-card-subtitle>{{event.date}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p>{{event.teaser}}</p><br>
        <ion-button fill="outline" href="{{event.url}}" target="_blank" slot="end">View</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
